# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Build
dist/
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
build/

# Logs
*.log